extends layout

block content
  h1 Dwolla Sample Application
  p.lead A sample application that demos the Dwolla API.
  hr
  .row
    .col-sm-6
      h2 OAuth Example
      p Click the link below to navigate to the Dwolla OAuth example.
      p
        a.btn.btn-default(href='/api/oauth', role='button') Naviagate to OAuth Example »
    .col-sm-6
      h2 Off-Site Gateway Checkout Example
      p Click the link below to navigate to the Off-Site Gateway example.
      p
        a.btn.btn-default(href='/api/gateway', role='button') Navigate to Gateway Example »