extends ../layout

block content
  .page-header
    h2
      i.fa.fa-link
      | Dwolla OAuth Example

  h3 Sample OAuth Flow
  h4 Direct Account Creation (Attach unverified bank)
    a(href=authUrl1)
      br
      button.btn.btn-primary Authorize with Dwolla
  h4 Direct Account Creation (Attach verified bank)
    a(href=authUrl2)
      br
      button.btn.btn-primary Authorize with Dwolla
  h4 Full Account Creation
    a(href=authUrl3)
      br
      button.btn.btn-primary Authorize with Dwolla